img{
    width:100%;
    height:100%;
    object-fit: cover;
    opacity:1.0;
    transition: all .4s ease;
}

#pic_tit{
    font-size:x-large;
    font-weight: bolder;
    text-align: center;
    position:absolute;
    margin-top: 11%;
    margin-left: 7%;
}

img:hover{
    opacity:0.5;
}

