img{
    width:100%;
    height:100%;
    object-fit: cover;
    opacity:1.0;
    transition: all .4s ease;
}

#pic_tit{
    position:absolute;
    margin:auto auto;
    display: none;
}

img:hover{
    opacity:0.5;
}

img:hover #pic_tit{
    display: block;
}